<h1 style="text-align: center;" class="mt-3">Pipes <small>Angular</small> </h1>
<hr>
<div class="row m-3">
  <div class="col">
    <table class="table">
      <thead style="background-color: blue; color: azure;" class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipes</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre2}}</td>
          <td>Capitalizado</td>
          <td>{{nombre2 | capitalizado }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3 </td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:4 </td>
          <td>{{nombre | slice:0:4}}</td>
        </tr>
        <tr>
          <td>{{arr}}</td>
          <td>slice:1:5 </td>
          <td>{{arr | slice:1:5}}</td>
        </tr>
        <tr>
          <td>{{pi}}</td>
          <td>number:'1.0-0' </td>
          <td>{{pi | number:'1.0-0'}}</td>
        </tr>
        <tr>
          <td>{{pi}}</td>
          <td>number:'3.0-0' </td>
          <td>{{pi | number:'3.0-0'}}</td>
        </tr>
        <tr>
          <td>{{pi}}</td>
          <td>number:'.0-2' </td>
          <td>{{pi | number:'.0-2'}}</td>
        </tr>
        <tr>
          <td>{{porc}}</td>
          <td>percent </td>
          <td>{{porc | percent}}</td>
        </tr>
        <tr>
          <td>{{porc}}</td>
          <td>percent: '2.2-2' </td>
          <td>{{porc | percent: '2.2-2'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency </td>
          <td>{{salario | currency}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency: 'EUR' </td>
          <td>{{salario | currency: 'EUR'}}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency: 'CAD':'symbol-narrow':'.0-0' </td>
          <td>{{salario | currency: 'CAD':'symbol-narrow':'.0-0'}}</td>
        </tr>
        <tr>
          <td>{{promesa}}</td>
          <td>async </td>
          <td>{{promesa | async}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date </td>
          <td>{{fecha |date }}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date  :'medium' </td>
          <td>{{fecha |date :'medium' }}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date  :'short' </td>
          <td>{{fecha |date :'short' }}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date  :'yyyy' </td>
          <td>{{fecha |date :'yyyy' }}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM - yyyy':'':'{{idioma}}' <br>
            <button (click)="idioma='es'" class="btn mr-1 btn-primary">Español</button>
            <button (click)="idioma='en'" class="btn mr-1 btn-success">Inglés</button>
            <button (click)="idioma='fr'" class="btn mr-1 btn-secondary">Fránces</button>
          </td>
          <td>{{fecha | date:'MMMM - yyyy':undefined:idioma}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>contraseña <br>
          <button class="btn btn-danger" (click)="activar=!activar">mostrar/activar</button></td>
          <td>{{nombre | contrasena: activar }}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
  <h3>Slice</h3>
  <ul>
    <li *ngFor="let item of arr | slice:5:20">{{item}}</li>
  </ul>
  <h3>JSON</h3>
  <div class="row mb-5">
    <div class="col">
      <pre>
        {{heroe | json}}
      </pre>
    </div>
  </div>
  <h3>Domseguro</h3>
  <hr>
  <div class="row">
    <div class="col">
      <iframe width="560" height="315" 
      [src]="Url | domseguro" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
